#  Banking Administration System

#### importing mysql connector libraries

In [1]:
import mysql.connector as r

In [2]:
Dbase = r.connect(host="localhost",user="root",password="Sau@123",auth_plugin='mysql_native_password')
#check for connection
if Dbase.is_connected():
    print("Successfully connected")
else:
    print("Not connected")

Successfully connected

#### Connecting with mysql database

In [ ]:
Dbase = r.connect(host="localhost",user="root",password="Nb2742538@",auth_plugin='mysql_native_password')
#check for connection
if Dbase.is_connected():
    print("Successfully connected")
else:
    print("Not connected")

#### Making mysql cursor in python

In [3]:
cursor = Dbase.cursor()

#### Create database name with Banking Administration System

In [ ]:
cursor.execute("Create database Bank_Administration")

In [4]:
cursor.execute("Use Bank_Administration")

#### Create two tables Bankbalance_Amount

In [ ]:

cursor.execute("Create table Bank_Account(customer_Accountno varchar(15) primary key,customer_Name varchar(30),DOB varchar(10),Address varchar(50),Phone_no varchar(10),Opening_balance int)")

In [ ]:
cursor.execute("Create table bank_balance(customer_Accountno varchar(15) primary key,User_Name varchar(30), Balance int)")

#### Make functions for Bank like - 
1.open_Account, 2.deposit_amount, 3.withdraw_amount, 4.check_balance, 5.display details of user, 6.close an account

In [5]:
def open_account():
    name = input("Enter name:")
    account_no = input("Enter account no:")
    dob = input("Enter DOB:")
    address = input("Enter address:")
    phone = input("Enter phone:")
    open_bal = int(input("Enter opening balance:"))
    data1 = (account_no,name,dob,address,phone,open_bal)
    data2 = (account_no,name,open_bal)
    sql1 = "insert into Bank_Account values(%s,%s,%s,%s,%s,%s)"
    sql2 = "insert into  bank_balance values(%s,%s,%s)" 
    cursor = Dbase.cursor()
    cursor.execute(sql1,data1)
    cursor.execute(sql2,data2)
    Dbase.commit()
    print("Data Entered successfully")
    program()

def deposit_amount():
    amount = int(input("Enter amount:"))   
    an = input("Enter account no:")
    a = "select balance from  bank_balance where customer_Accountno=%s"
    data = (an,)
    cursor = Dbase.cursor()
    cursor.execute(a,data)
    result = cursor.fetchone()
    t = result[0]+amount
    sql = "update  bank_balance set balance=%s where customer_Accountno=%s"
    data = (t,an)
    cursor.execute(sql,data)
    Dbase.commit()
    program()

def withdraw_amount():
    amount = int(input("Enter amount:"))   
    an = input("Enter account no:")
    a = "select balance from bank_balance where customer_Accountno=%s"
    data = (an,)
    cursor = Dbase.cursor()
    cursor.execute(a,data)
    result = cursor.fetchone()
    t = result[0]-amount
    sql = "update  bank_balance set balance=%s where customer_Accountno=%s"
    data = (t,an)
    cursor.execute(sql,data)
    Dbase.commit()
    program()
    
    
#ac = account_number 
def check_balance():
    ac = input("Enter account no:")
    a = "select balance from  bank_balance where customer_Accountno=%s"
    data = (ac,)
    cursor = Dbase.cursor()
    cursor.execute(a,data)
    result = cursor.fetchone()
    print("Balance for Account:",ac,"is",result[0])
    program()



def display_user_details():
    ac = input("Enter account no:")
    a = "select * from  bank_balance where customer_Accountno=%s"
    data = (ac,)
    cursor = Dbase.cursor()
    cursor.execute(a,data)
    result = cursor.fetchone()
    for i in result:
        print(i,end=" ")  
    program()


def close_account():
    ac = input("Enter account no:")
    sql1 = "delete from  Bank_Account where customer_Accountno=%s"
    sql2= "delete from  bank_balance where customer_Accountno=%s"
    data = (ac,)
    cursor = Dbase.cursor()
    cursor.execute(sql1,data)
    cursor.execute(sql2,data)
    Dbase.commit()
    program()
    
def program():
    print("""
    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account
    """)
    choice = int(input("Enter Task number: "))
    if(choice==1):
        open_account()
    elif(choice==2):
        deposit_amount()
    elif(choice==3):
        withdraw_amount()
    elif(choice==4):
        check_balance()
    elif(choice==5):
        display_user_details()
    elif(choice==6):
        close_account()
    else:
        print("Give Wrong input please enter right input")
program()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 1
Enter name:Raman
Enter account no:4022685943
Enter DOB:10/02/2002
Enter address:Noida
Enter phone:7054678345
Enter opening balance:1000
Data Entered successfully

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### To show all results from first table and second table

In [6]:
cursor.execute("select * from Bank_Account")
for i in cursor:
    print(i)

('20013314562', 'Shubh', '04/03/2002', 'Delhi', '7054672312', 2000)
('20013345678', 'Ujjwal', '03/02/2000', 'Delhi', '6394843376', 2500)
('2001554683', 'Varun', '10/05/2001', 'Agra', '6394843372', 1200)
('4022678956', 'Sauhard', '08/02/2001', 'Noida', '7067453424', 1000)
('4022685943', 'Raman', '10/02/2002', 'Noida', '7054678345', 1000)
('4022788734', 'Rohan', '08/02/2003', 'Greater Noida', '7056789456', 1000)

In [7]:
cursor.execute("select * from bank_balance")
for i in cursor:
    print(i)

('20013314562', 'Shubh', 2000)
('20013345678', 'Ujjwal', 2500)
('2001554683', 'Varun', 1200)
('4022678956', 'Sauhard', 1000)
('4022685943', 'Raman', 1000)
('4022788734', 'Rohan', 0)

#### Withdraw amount from any account

In [8]:
program()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 3
Enter amount:500
Enter account no:2001554683

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### After withdraw result

In [9]:
cursor.execute("select * from bank_balance")
for i in cursor:
    print(i)

('20013314562', 'Shubh', 2000)
('20013345678', 'Ujjwal', 2500)
('2001554683', 'Varun', 700)
('4022678956', 'Sauhard', 1000)
('4022685943', 'Raman', 1000)
('4022788734', 'Rohan', 0)

#### Check balance

In [10]:
program()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 4
Enter account no:2001554683
Balance for Account: 2001554683 is 700

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### Display details of user

In [11]:
program()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 5
Enter account no:2001554683
2001554683 Varun 700
    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### Close account

In [12]:
program()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 6
Enter account no:2001554683

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### show result after close account

In [14]:
cursor.execute("select * from bank_balance")
for i in cursor:
    print(i)

('20013314562', 'Shubh', 2000)
('20013345678', 'Ujjwal', 2500)
('4022678956', 'Sauhard', 1000)
('4022685943', 'Raman', 1000)
('4022788734', 'Rohan', 0)